In [3]:
import pandas as pd

## Series

In [4]:
s = pd.Series([3, 4, 5, 6])
s

0    3
1    4
2    5
3    6
dtype: int64

In [6]:
type(s)

pandas.core.series.Series

In [5]:
s.values

array([3, 4, 5, 6])

In [7]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
s2 = pd.Series([10, 11, 12, 13], index=['A', 'B', 'C', 'D'])
s2

A    10
B    11
C    12
D    13
dtype: int64

In [9]:
s2.values

array([10, 11, 12, 13])

In [10]:
s2.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
s2

A    10
B    11
C    12
D    13
dtype: int64

In [12]:
s2[0]

10

In [13]:
s2['A']

10

## DataFrame

In [14]:
data = {
    'Country': ['Bangladesh', 'India', 'Pakistan'], 
    'Code': [1200, 1300, 1400], 
    'Population': [1122000, 11222222, 50000000]
}

In [15]:
data

{'Country': ['Bangladesh', 'India', 'Pakistan'],
 'Code': [1200, 1300, 1400],
 'Population': [1122000, 11222222, 50000000]}

In [16]:
df = pd.DataFrame(data, columns=['Country', 'Code', 'Population'])
df

      Country  Code  Population
0  Bangladesh  1200     1122000
1       India  1300    11222222
2    Pakistan  1400    50000000

In [17]:
type(df)

pandas.core.frame.DataFrame