In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('../data/500_Person_Gender_Height_Weight_Index.csv')

In [3]:
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [17]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [18]:
df['Gender'].nunique()

2

In [20]:
df['Index'].unique()

array([4, 2, 3, 5, 1, 0])

In [19]:
df.groupby('Gender').mean()

            Height      Weight     Index
Gender
Female  170.227451  105.698039  3.709804
Male    169.648980  106.314286  3.787755

In [21]:
df.groupby('Gender').size()

Gender
Female    255
Male      245
dtype: int64

In [22]:
df.groupby('Gender').median()

        Height  Weight  Index
Gender
Female     170     106      4
Male       171     105      4

In [5]:
df.isnull().sum()

Gender    0
Height    0
Weight    0
Index     0
dtype: int64

In [23]:
df['Height'].mean()

169.944

In [24]:
df['Height'].std()

16.37526067959376

In [26]:
df['Height'].agg(np.var)

268.1491623246496

In [27]:
df['Height'].max()

199

In [28]:
df['Height'].min()

140

In [30]:
np.quantile()

TypeError: _quantile_dispatcher() missing 1 required positional argument: 'a'

In [6]:
fm = pd.read_csv('../data/framingham.csv')

In [8]:
fm.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [12]:
fm['BMI'].mean()

25.800800758114182

In [13]:
fm['BMI'].median()

25.4

In [14]:
fm['BMI'].fillna(np.mean, inplace=True)

In [16]:
fm['BMI'].isnull().sum()

0